<div class="tbank-passphrase-modal" id="tbank-passphrase-modal" hidden role="dialog" aria-modal="true" aria-labelledby="tbank-passphrase-modal-title">
<div class="tbank-passphrase-modal-box">
<p id="tbank-passphrase-modal-title">Введите пароль для расшифровки локального токена брокера</p>
<input type="password" id="tbank-passphrase-modal-input" autocomplete="current-password" placeholder="Пароль шифрования">
<div class="tbank-passphrase-modal-actions">
<button type="button" class="calc-btn calc-btn-secondary" id="tbank-passphrase-modal-cancel">Отмена</button>
<button type="button" class="calc-btn" id="tbank-passphrase-modal-ok">OK</button>
</div>
</div>
</div>
